* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  
}
.container {
 
  width: 800px;
  background-color: red;
  height: 300px;
  margin: 300px auto;
  display: flex;
  justify-content: center;
}
.left-column {
  background: url(images/drawers.jpg) center center/cover no-repeat;
  width: 45%;
  height: 300px;
}

.right-column {
  width: 55%;
  background-color: white;
  padding: 40px;
  height: 300px;
  position: relative;
}
.right-column h3 {
  color: hsl(217, 19%, 35%);
  margin-bottom: 10px;
}
.right-column p {
  font-size: 13px;
  color: hsl(217, 19%, 35%);
  margin-bottom: 10px;
  
}
.profile {
  position: relative;
}
.profile .name {
  display: inline-block;
  font-weight: 700;
  position: absolute;
  left: 66px;
  top: 4px;
}
.profile .date {
  display: inline-block;
  position: absolute;
  left: 66px;
  top: 29px;
}

.profile-image {
  background: url(images/avatar-michelle.jpg) center center/cover;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  display: inline-block;
}
/* .icon  {
 /* background-color: hsl(217, 19%, 35%);*/
/*   width: 30px;
  height: 30px;

  border-radius: 20px;
  position: absolute;
  right: 3px;
  bottom: 17px;

  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
} */
 
.fa-share{
  color: hsl(214, 17%, 51%);
  width: 30px;
  height: 30px;
  background-color:hsl(210, 46%, 95%);
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  position: absolute;
  right: 3px;
  bottom: 17px;
}
.active-bar {
  background-color: hsl(217, 19%, 35%);

  width: 240px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  border-radius: 10px;
  position: absolute;
  left: 249px;
  top: 138px;
  opacity: 0;
  
}
.active-bar svg {
  margin-right: 10px;
  cursor: pointer;
}
.active-bar h3 {
  color: hsl(214, 17%, 51%);
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 10px;
  letter-spacing: 3px;
  font-size: 13px;
  cursor: pointer;
 
}

@media (max-width: 500px) {

  .container{
    flex-direction: column;
    align-items: center;
    /*alinea verticalemnte al ser column*/
    justify-content: flex-start;
    width: 374px;
    height: 78vh;
  }
  .right-column{
    width: 100%;
  }
  .left-column {
    width: 100%;
  }
  .fa-share {
    right: 101px;
  }
  .active-bar{
    left: 65px;
  }
}
